<h1><%= @dungeon.name %></h1>
<p><%= "ID: #{@dungeon.id}" %></p>
<p><%= "Final Level: #{@dungeon.final_level}." %></p>
<p><%= "Difficulty: #{@dungeon.difficulty}." %></p>
<p><%= "Monster Count: #{@dungeon.monster_count}." %></p>
<p><%= link_to "Edit Dungeon", "/dungeons/#{@dungeon.id}/edit" %></p>
<p><%= link_to "Monster List","/dungeons/#{@dungeon.id}/monsters" %></p>
<p><%= link_to "Create Monster", "/dungeons/#{@dungeon.id}/monsters/new" %></p>
<p><%= button_to "Delete Dungeon", "/dungeons/#{@dungeon.id}", method: :delete %>