<h1><%= @monster.name %></h1>
<p><%= "ID: #{@monster.id}." %></p>
<p><%= "Boss: #{@monster.boss}." %></p>
<p><%= "Health: #{@monster.health}." %></p>
<p><%= link_to "Update Monster", "/monsters/#{@monster.id}/edit"%></p>
<p><%= link_to "Delete Monster", "/monsters/#{@monster.id}", method: :delete %>