<h1><%= @dungeon.name %></h1>
<h2>Dungeon ID: <%= @dungeon.id %></h2>
<% @monsters.each do |monster| %>
  <h2><%= monster.name %></h2>
  <p><%= "Boss: #{monster.boss}" %></p>
  <p><%= "Health: #{monster.health}" %></p>
  <p>
    <%= link_to "Update #{monster.name}", "/monsters/#{monster.id}/edit" %>
    <%= link_to "Delete #{monster.name}", "/monsters/#{monster.id}", method: :delete %>
  </p><br>
<% end %>

<p><%= link_to "Sort Alphabetically", "/dungeons/#{@dungeon.id}/monsters?sort=abc" %></p>
<%= form_with local: true do |form| %>
  <%= form.label :length %>
  <%= form.text_field :length %>
  <%= form.submit "Only return monsters with Health more than" %>
<% end %>